a,
a:visited,
a:active {
  color: #4d4d4d;
  display: inline;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  padding: 0;
  transition: all 0.12s ease-in-out;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #289ccb;
}

.LinkButton,
.LinkButton:visited,
.LinkButton:active {
  background-color: unset;
  background-image: unset;
  border: unset;
  color: #4d4d4d;
  display: inline;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  padding: 0;
  text-decoration: underline;
  transition: all 0.12s ease-in-out;
}

.LinkButton:hover,
.LinkButton:focus {
  color: #289ccb;
}

.LinkButton + .LinkButton {
  margin-left: 0.2em;
}

.field-group {
  margin-bottom: 1em;
}

input,
select,
textarea {
  display: block;
  width: 100%;
}